{% extends "base.html" %}
{% block main %}
<h1>0xdb - blackspace<h1>
    <h2>About Me...</h2>
    <p class="lead">
      A developer, for web, server and even data.
    </p>
    <p>
      I write mostly in Python, Java, Javascript and Go currently, but I'm always on the look out for new up and coming
      technologies.
    </p>
    <p>
      I have a great deal of experience with AWS EC2 instances writing simple, clean and performant code.
    </p>
    <p>

    </p>
    <p>
      At some point in the near future I'm thinking about doing some freelance work; contact me at "freelance @
      0xdb.co.uk" if you think you might have something appealing.
    </p>

    <h3>Terms and Conditions</h3>
    <p>
      In the event that addtitional commucation outside of a reasonable request is required by any individual or
      company; in repsonse to, or accordance with correspondance of any sort I reserve the right to charge a reasonable
      hourly rate for my time.
    </p>
    {% endblock %}