{% extends "base.html" %}
{% block main %}
<h1>blackspace<h1>
<h2>About Me...</h2>
<p class="lead">
A developer, for web, server and even data.
</p>
<p>
I write mostly in Python, Java, Javascript and Go currently, but I'm always on the look out for new up and coming technologies.
</p>
<p>
  I have a great deal of experience with AWS EC2 instances writing simple, clean and performant code.
</p>
<p>
  Right now I'm learning how to use EMR clusters with Spark on large datasets (between ~30GB and ~1.9TB) and transistioning from a backend server developer role into a much more data focused role. Using my experience writing asyncronhous code to manipulate large datasets.
</p>
<p>
  
</p>
<p>
  At some point in the near future I'm thinking about doing some freelance work; contact me at "freelance @ 0xdb.co.uk" if you think you might have something appealing.
  </p>
{% endblock %}